@page
@model IdentityCustomisationTest.Pages.Productlocations.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>ProductLocation</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductLocation.Quantity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductLocation.Quantity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductLocation.Product)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductLocation.Product.ProductID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ProductLocation.Location)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductLocation.Location.LocationID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ProductLocation.ProductLocationId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
