@page
@model IdentityCustomisationTest.Pages.Productlocations.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h4>PRODUCT LOCATION</h4>
<p>
    <ul><a href="Customers">CUSTOMERS</a></ul>
    <ul><a href="Employee's">EMPLOYEE</a></ul>
    <ul><a href="locations">LOCATION</a></ul>
    <ul><a href="Products">PRODUCTS</a></ul><br>
</p>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductLocation[0].Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductLocation[0].Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductLocation[0].Location)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.ProductLocation) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location.LocationID)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ProductLocationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ProductLocationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ProductLocationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
